
/* font-family: halyard-display, sans-serif;
font-style: normal;
font-weight: 400; */

@media only screen and (orientation: portrait) {
  body {
    background-color: black;

  }

  div.text{
    font-size: 80px;
    font-family: linotype-sabon, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
      margin: auto;
      width: 75%;
      padding: 10px;

      text-align: center;
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  div.subtext{
    font-size: 60px;
    font-family: linotype-sabon, serif;
    font-style: italic;
    font-weight: 400;
    color: white;
      margin: auto;
      width: 75%;
      padding: 10px;

      text-align: center;
      position: fixed;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);

  }

  div.name{
    font-size: 30px;
    font-family: linotype-sabon, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
      margin: auto;
      width: 50%;
      padding: 10px;
      text-align: center;
      position: fixed;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 10px;

  }


  div.scroll-slider{
    display: none;
  }
}


@media only screen and (orientation: landscape) {
  body {
    background-color:white;
  }

  div.text{
    display: none;
  }

  div.subtext{
    display: none;
  }

  div.name{
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .scroll-slider {
    position: relative;
    overflow: hidden;
  }



.TableOfContent{


}

}
