
@media only screen and (orientation: portrait) {
  body {
    background-color:white;
  }

  div.TalbeOfContent{
    display: none;
  }
  div.scroll-slider {
    display: none;
  }

  div.text{
    font-size: 30px;
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
      /* margin: auto; */
      width: 90%;
      padding: 10px;

      text-align: center;
      position: fixed;
      padding-top: 30%;
      /* vh inplaats van %
      alles in 1 div (title, subtitle)
       height;
       see th background, use a color
      */
      left: 50%;
      transform: translate(-50%, -50%);
  }


    #container {
      font-family: franklin-gothic-atf, sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size:110px;
      padding-top:445px;
      padding-left: 20px;
      padding-right: 20px;
      position:fixed;
      width:100%;
      /* text-align:center; */
    }

    #flip {
      height:115px;
      overflow:hidden;
    }

    #flip > div > div {
      color:black;
      /* height:100%; */
      display:inline-block;
    }

    #flip div:first-child {
      animation: show 5s linear reverse infinite;
    }

    @keyframes show {
      0% {margin-top:110px;}
      100% {margin-top:-350px;}
      /* 33% {margin-top:-200px;}
      38% {margin-top:-150px;} */
      /* 66% {margin-top:90px;} */
      /* 71% {margin-top:90px;} */
      /* 99.99% {margin-top:100px;} */
      /* 100% {margin-top:0px;} */
    }

  div.write{
    font-size: 110px;
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
      /* margin: auto; */
      /* width: 50%; */
      /* padding: 10px; */
      text-align: center;
      position: fixed;
      padding-top:320%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 20px;
      padding-right: 20px;

  }

  div.subtext{
    font-size: 15px;
    font-family: linotype-sabon, serif;
    font-style: italic;
    font-weight: 400;
    color: black;
      margin: auto;
      width: 75%;
      padding: 20px;

      text-align: center;
      position: fixed;
      padding-top: 320%;
      left: 50%;
      transform: translate(-50%, -50%);

  }


  div.name{
    font-size: 30px;
    font-family: linotype-sabon, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
      margin: auto;
      width: 50%;
      padding: 10px;
      text-align: center;
      position: fixed;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 10px;

  }


  div.title{
    position: sticky;
    top: 0;
    background-color: rgba(102, 255, 51, 0.9);
    font-size: 30px;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight:bold;
    color:white;
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: left;
    line-height: 40px;
  }

  div.subtitle{
    position: sticky;
    background-color: rgba(102, 255, 51, 0.9);
    top: 120px;
    font-size: 40px;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    color:white;
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: left;

  }

  div.bodytext{
    font-size: 20px;
    font-family: linotype-sabon, serif;
    font-style: normal;
    font-weight: 400;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;

  }

  .toptexts2 {
     animation: fadeEffect 8s; /* fading effect takes 3s */
     z-index: 1;
     font-size: 40px;
     font-family: halyard-display, sans-serif;
     font-weight: bold;
     color: rgb(102, 255, 51);

  }

  @keyframes fadeEffect { /* from 0 to full opacity */
     from {opacity: 0;}
     to {opacity: 1;}
  }


  div.scroll-slider{
    display: none;
  }
}


@media only screen and (orientation: landscape) {
  body {
    background-color:white;
  }

  div.text{
    display: none;
  }

  div.subtext{
    display: none;
  }

  div.name{
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .scroll-slider {
    position: relative;
    overflow: hidden;
  }

  div.TalbeOfContent{
    margin: auto;
    width: 75%;
    padding: 10px;

    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

a:link {
  text-decoration: none;
  font-size: 30px;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:rgb(102, 255, 51);
}

a:visited {
  text-decoration: none;
  font-size: 30px;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:rgb(102, 255, 51);
}

a:hover {
  text-decoration: none;
  font-size: 30px;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:rgb(102, 255, 51);
}

a:active {
  text-decoration: none;
  font-size: 30px;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:rgb(102, 255, 51);
}


.scroll-slider {
  position: relative;
  overflow: hidden;
}

.scroll-slider__image{
  width: 100%;
  height: auto;
}

/* IMAGES */
.scroll-slider__wrapper {
  display: flex;
  width: 100vw;
  overflow: scroll;
}

.scroll-slider__slide_1 {
  height: 535px;
  min-width: 70%;
  overflow: hidden;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

.scroll-slider__slide_2 {
  height: 535px;
  min-width: 40%;
  overflow: hidden;
  padding-left: 10px;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

.scroll-slider__slide_3 {
  height: 535px;
  min-width: 40%;
  overflow: hidden;
  padding-left: 10px;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

.scroll-slider__slide_4 {
  height: 535px;
  min-width: 100%;
  overflow: hidden;
  padding-left: 10px;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

}
