
@media only screen and (orientation: portrait) {
  body {
    background-color:rgb(102, 255, 51);
  }

  div.TalbeOfContent{
    display: none;
  }
  div.scroll-slider {
    display: none;
  }

  div.text{
    font-size: 80px;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: white;
      margin: auto;
      width: 80%;
      padding: 10px;

      text-align: center;
      position: fixed;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  div.subtext{
    font-size: 60px;
    font-family: linotype-sabon, serif;
    font-style: italic;
    font-weight: 400;
    color: white;
      margin: auto;
      width: 75%;
      padding: 10px;

      text-align: center;
      position: fixed;
      top: 27%;
      left: 50%;
      transform: translate(-50%, -50%);

  }

  div.name{
    font-size: 30px;
    font-family: linotype-sabon, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
      margin: auto;
      width: 50%;
      padding: 10px;
      text-align: center;
      position: fixed;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 10px;

  }


  div.title{
    position: sticky;
    top: 0;
    background-color: rgba(102, 255, 51, 0.9);
    font-size: 30px;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight:bold;
    color:white;
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: left;
    line-height: 40px;
  }

  div.subtitle{
    position: sticky;
    background-color: rgba(102, 255, 51, 0.9);
    top: 120px;
    font-size: 40px;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    color:white;
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: left;

  }

  div.bodytext{
    font-size: 20px;
    font-family: linotype-sabon, serif;
    font-style: normal;
    font-weight: 400;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;

  }

  .toptexts2 {
     animation: fadeEffect 8s; /* fading effect takes 3s */
     z-index: 1;
     font-size: 40px;
     font-family: halyard-display, sans-serif;
     font-weight: bold;
     color: rgb(102, 255, 51);

  }

  @keyframes fadeEffect { /* from 0 to full opacity */
     from {opacity: 0;}
     to {opacity: 1;}
  }


  div.scroll-slider{
    display: none;
  }
}


@media only screen and (orientation: landscape) {
  body {
    background-color:white;
  }

  div.text{
    display: none;
  }

  div.subtext{
    display: none;
  }

  div.name{
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .scroll-slider {
    position: relative;
    overflow: hidden;
  }

  div.TalbeOfContent{
    margin: auto;
    width: 75%;
    padding: 10px;

    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

a:link {
  text-decoration: none;
  font-size: 30px;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:rgb(102, 255, 51);
}

a:visited {
  text-decoration: none;
  font-size: 30px;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:rgb(102, 255, 51);
}

a:hover {
  text-decoration: none;
  font-size: 30px;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:rgb(102, 255, 51);
}

a:active {
  text-decoration: none;
  font-size: 30px;
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:rgb(102, 255, 51);
}


.scroll-slider {
  position: relative;
  overflow: hidden;
}

.scroll-slider__image{
  width: 100%;
  height: auto;
}

/* IMAGES */
.scroll-slider__wrapper {
  display: flex;
  width: 100vw;
  overflow: scroll;
}

.scroll-slider__slide_1 {
  height: 535px;
  min-width: 70%;
  overflow: hidden;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

.scroll-slider__slide_2 {
  height: 535px;
  min-width: 40%;
  overflow: hidden;
  padding-left: 10px;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

.scroll-slider__slide_3 {
  height: 535px;
  min-width: 40%;
  overflow: hidden;
  padding-left: 10px;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

.scroll-slider__slide_4 {
  height: 535px;
  min-width: 100%;
  overflow: hidden;
  padding-left: 10px;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

}
