
@media only screen and (orientation: portrait) {
  body {
    background-color:black;
  }
  div.scroll-slider {
    display: none;
  }

  div.text{
    font-size: 30px;
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
      /* margin: auto; */
      width: 100%;
      padding: 10px;

      text-align: center;
      position: fixed;
      padding-top: 30%;
      /* vh inplaats van %
      alles in 1 div (title, subtitle)
       height;
       see th background, use a color
      */
      left: 50%;
      transform: translate(-50%, -50%);
  }

  div.subtext{
    font-size: 10px;
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: white;
      margin: auto;
      width: 80%;
      padding: 20px;

      text-align: center;
      position: fixed;
      padding-top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  div.name{
    font-size: 10px;
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
      margin: auto;
      width: 100%;
      padding: 10px;
      text-align: center;
      position: fixed;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 7px;
  }


  div.TalbeOfContent0 {
      position: fixed;
      font-family: franklin-gothic-atf, sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 15px;
      width: 100%;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 40%;
      word-spacing: 11em;
  }

  div.TalbeOfContent1{
      position: fixed;
      font-family: franklin-gothic-atf, sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 15px;
      width: 100%;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 150%;
      word-spacing: 9.5em;
      margin-left: 2px;

  }

    #container {
      position:fixed;
      font-family: franklin-gothic-atf, sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size:50px;
      width:100%;
      display:block;
      margin-left: -54%;
      margin-top: 50%;
      text-align: right;
    }

    #flip {
      height:55px;
      overflow:hidden;
    }

    #flip > div > div {
      color:black;
      padding:4px 12px;
      height:42.9px;
      margin-bottom:45px;
      display:inline-block;
    }

    #flip div:first-child {
      animation: show 5s linear infinite;
    }

    #flip div div {
      color: black;
      -webkit-text-stroke-width: 0.8px;
      -webkit-text-stroke-color: white;
    }

    #flip div:last-child div {
        color: white;
    }

    div.write1{
        position: absolute;
        font-family: franklin-gothic-atf, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 50px;
        padding-left: 47%;
        margin-top: 37.5%;
    }

    div.subtext1{
      font-size: 10px;
      font-family: franklin-gothic-atf, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
        margin: auto;
        width: 100%;
        padding: 20px;

        text-align: center;
        position: fixed;
        padding-top: 142%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        #container1 {
          position:fixed;
          font-family: franklin-gothic-atf, sans-serif;
          font-weight: 600;
          font-style: normal;
          font-size:50px;
          width:100%;
          display:block;
          margin-left: -54%;
          margin-right: 10px;
          margin-top: 85%;
          text-align: right;
        }

        #flip1 {
          height:55px;
          overflow:hidden;
        }

        #flip1 > div > div {
          color:black;
          padding:4px 12px;
          height:42.9px;
          margin-bottom:45px;
          display:inline-block;
        }

        #flip1 div:first-child {
          animation: show 5s linear infinite;
        }

        #flip1 div div {
          color:white;
        }

        #flip1 div:first-child div {
          color: black;
          -webkit-text-stroke-width: 0.8px;
          -webkit-text-stroke-color: white;
        }

        #flip1 div:last-child div {
          color: black;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: white;
        }

        div.write2{
          position: absolute;
          font-family: franklin-gothic-atf, sans-serif;
          font-weight: 600;
          font-style: normal;
          font-size: 50px;
          padding-left: 47%;
          margin-top: 73%;
        }

        div.subtext2{
          font-size: 10px;
          font-family: franklin-gothic-atf, sans-serif;
          font-weight: 400;
          font-style: normal;
          color: white;
            margin: auto;
            width: 80%;
            padding: 20px;

            text-align: center;
            position: fixed;
            padding-top: 212%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

            #container2 {
              position:fixed;
              font-family: franklin-gothic-atf, sans-serif;
              font-weight: 600;
              font-style: normal;
              font-size:50px;
              width:100%;
              display:block;
              margin-left: -54%;
              margin-right: 10px;
              margin-top: 120%;
              text-align: right;
            }

            #flip2 {
              height:55px;
              overflow:hidden;
            }

            #flip2 > div > div {
              color:black;
              padding:4px 12px;
              height:42.9px;
              margin-bottom:45px;
              display:inline-block;
            }

            #flip2 div:first-child {
              animation: show 5s linear infinite;
            }

            #flip2 div div {
              color: black;
              -webkit-text-stroke-width: 0.8px;
              -webkit-text-stroke-color: white;
            }

            #flip2 div:first-child div {
              color: white;
            }

            div.write3{
              position: absolute;
              font-family: franklin-gothic-atf, sans-serif;
              font-weight: 600;
              font-style: normal;
              font-size: 50px;
              padding-left:47%;
              margin-top: 108%;
            }

            div.subtext3{
              font-size: 10px;
              font-family: franklin-gothic-atf, sans-serif;
              font-weight: 400;
              font-style: normal;
              color: white;
                margin: auto;
                width: 80%;
                padding: 20px;

                text-align: center;
                position: fixed;
                padding-top: 285%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

a:link {
  text-decoration: none;
  color: white;

}

a:visited {
  text-decoration: none;
  color: white;

}

a:hover {
  text-decoration: none;
  color: white;
  font-weight: 600;

}

a:active {
  text-decoration: none;
  color: white;

}

  div.title{
    position: sticky;
    top: 0;
    background-color: rgba(102, 255, 51, 0.9);
    font-size: 30px;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight:bold;
    color:white;
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: left;
    line-height: 40px;
  }

  div.subtitle{
    position: sticky;
    background-color: rgba(102, 255, 51, 0.9);
    top: 120px;
    font-size: 40px;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    color:white;
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: left;

  }

  div.bodytext{
    font-size: 20px;
    font-family: linotype-sabon, serif;
    font-style: normal;
    font-weight: 400;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;

  }

  .toptexts2 {
     animation: fadeEffect 8s; /* fading effect takes 3s */
     z-index: 1;
     font-size: 40px;
     font-family: halyard-display, sans-serif;
     font-weight: bold;
     color: rgb(102, 255, 51);

  }

  @keyframes fadeEffect { /* from 0 to full opacity */
     from {opacity: 0;}
     to {opacity: 1;}
  }


  div.scroll-slider{
    display: none;
  }
}


@media only screen and (orientation: landscape) {
  body {
    background-color:white;
  }

  div.text{
    display: none;
  }

  div.subtext{
    display: none;
  }

  div.name{
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .scroll-slider {
    position: relative;
    overflow: hidden;
  }


.scroll-slider {
  position: relative;
  overflow: hidden;
}

.scroll-slider__image{
  width: 100%;
  height: auto;
}

/* IMAGES */
.scroll-slider__wrapper {
  display: flex;
  width: 100vw;
  overflow: scroll;
}

.scroll-slider__slide_1 {
  height: 535px;
  min-width: 70%;
  overflow: hidden;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

.scroll-slider__slide_2 {
  height: 535px;
  min-width: 40%;
  overflow: hidden;
  padding-left: 10px;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

.scroll-slider__slide_3 {
  height: 535px;
  min-width: 40%;
  overflow: hidden;
  padding-left: 10px;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

.scroll-slider__slide_4 {
  height: 535px;
  min-width: 100%;
  overflow: hidden;
  padding-left: 10px;
  /* -webkit-filter: blur(8px) grayscale(100%); */
}

}
